[Desktop Entry]
Version=1.0
Name=Browser
Comment=Browser
Exec=brave --high-dpi-support=1 --force-device-scale-factor=0.6 %U
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=Brave-browser
